project_id                  = "iscool-gpt-api"
region                      = "southamerica-east1"
credentials_file            = "../terraform-key.json"
artifact_registry_repository = "iscool-gpt"
gemini_api_key              = "AIzaSyBwFQnA0ctZ8nTb883o93mfLJVaWtBHUgs"
rate_limit_requests         = "10"
rate_limit_window           = "60s"
